<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-dark">
    
    <div class="white-box">
        <h4>현재 시간</h4>
        <p><%= time %></p>
        
    </div>
</body>
</html>